.learning-container{
    margin-top: 2rem;
    margin-bottom: 2rem;
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%);
}

.learning-text{
    display: flex;
    justify-content: center;
    margin: auto;
    padding: 0.5rem;
    font-size: 1.2rem;
    color: var(--h-color);
    font-weight: 600;

}